.filenameItem {
  display: inline-flex;
  align-items: center;
  font-size: 13px;
  line-height: 34px;
  height: 34px;
  cursor: pointer;
  padding: 8px 10px 6px;
  box-sizing: border-box;
  &.selected {
    color: #42b883;
    border-bottom: 2px solid #42b883;
  }
  .filenameInput {
    width: 90px;
    border: none;
    outline: none;
    background: transparent;
    margin: 0;
    padding: 4px 0 4px 10px;
    border-radius: 4px;
  }
}
